{% extends 'layout.html' %}

{% block head %}

<style>

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #872657;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

</style>

{% endblock %}

{% block title %}
{% endblock %}

{% block body%}

<!-- LOGGED OUT -->

<div class="main">

  <a id="server"></a>


<div id="login" style="display: none">

<br><br><br><br>

<h1> Welcome to Flack! </h1><br><br>
<h3> Display Name </h3> <br>


<h6> Choose a Display Name and start chatting instantly!</h6> <br>

<form id="login">
  <div class="form-group">
    <label for="Username">Display name</label>
    <input autofocus type="text" class="form-control" id="displayName" name="displayName" placeholder="Display Name">

  </div>
  <button type="submit" id="submit" class="btn btn-primary">Log In</button>
</form>
</div>



<!-- LOGGED IN-->

<div id="welcome" style="display: none">

<br><br><br><br>

<h1> Welcome <a id="greet"></a></h1>

<a id="logout" href=""> log out </a><br><br>

<h3>Create New Channel</h3><br>

<div>
	<input id="channel" type="text" autofocus name="channel" placeholder="Channel Name" class="form-control">
	<button id="create" type="submit" class="btn btn-primary"> Create</button>
</div>


</div>

</div>


{% endblock %}